body{

    background-color: #262626;
    margin: 10%;
    font-family: "Avenir";

}

h2 {

    color: #b9a3e3;
    padding-bottom: 15%;
    font-size: 125%;
    text-align: center;

}

h4 {

    color: grey;
    font-size: 75%;
    text-align: center;
    margin-bottom: 10%;

}

h1 {

    position: relative;
    font-family: "Avenir Next", sans-serif;
    font-weight: 900;
    font-size: 300%;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.05em;
    color: #b9a3e3;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 5s linear infinite;
    text-align: center;
    background-color: #6441a5;

}

h3 {

    color: #f1f1f1;
    font-size: 110%;
    

}

@keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}

/* shine help from: https://codepad.co/snippet/shining-text-using-mask-image